.wrap-response {
    margin-top: 20px;
}


.wrap-img img {
    width: 300px;
    height: auto;
}

.wrap-item {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    max-width: 320px;
}

.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: relative;
}

.item .back-percent {
    background: #3fc6b6;
    position: absolute;
    top: 0;
    bottom: 0;
}

.item .tag,.confidence {
    z-index: 2;
    padding: 5px;
}