.location {
  padding: 75px 0 0 0;
  .map {
    position: relative;

    iframe {
      width: 100%;
      display: block;
    }

    .order-up {
      width: 350px;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20%;
      left: 15%;
      background: $color-white;

      h2 {
        text-align: center;
        font: 24px 'Roboto', sans-serif;
        margin-bottom: 25px;
        text-transform: uppercase;
      }

      .form-prefooter {
        max-width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;

        input {
          text-align: center;
          margin: 9px 0;
          font: 14px 'Roboto', sans-serif;
          color: #3b3b3b;
          border: none;
          padding: 10px;
        }

        .button-send {
          text-align: center;
          padding: 20px 0;
          background: #f05231;
          font: 14px 'Roboto', sans-serif;
          text-transform: uppercase;
          color: $color-white;
          font-weight: bold;
          border: 1px solid #f05231;
          transition: .4s;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            background: $color-white;
            color: #f05231;
          }
        }
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}