.wrap-order-pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  .order-pop-up {
    width: 350px;
    height: 410px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: $color-white;

    h2 {
      text-align: center;
      font: 24px 'Roboto', sans-serif;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    .form-pop-up {
      max-width: 300px;
      margin: auto;
      display: flex;
      flex-direction: column;

      input {
        text-align: center;
        margin: 9px 0;
        font: 14px 'Roboto', sans-serif;
        color: #3b3b3b;
        border: none;
        padding: 10px;
      }

      button {
        padding: 20px;
        background: #f05231;
        font: 14px 'Roboto', sans-serif;
        text-transform: uppercase;
        color: $color-white;
        font-weight: bold;
        border: 1px solid #f05231;
        transition: .4s;
        cursor: pointer;

        &:hover {
          background: $color-white;
          color: #f05231;
        }
      }
    }

    .close-pop {
      position: absolute;
      top: -20px;
      right: -20px;
      border-radius: 25px;
      background: #424245;
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .fa-times {
        font-size: 25px;
        color: $color-white;
      }

      &:hover {
        .fa-times {
          color: #f05231;
        }
      }
    }

    @media (max-width: 420px) {
      max-width: 300px;

      .close-pop {
        top: 0;
        right: 0;
      }
    }
  }
}

