.container-main {
  max-width: 933px;
  box-sizing: border-box;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: .4s;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $primary-font;

  &:hover {
    background: $hover-color;
  }
}