.main-footer {
  background: #232527;

  .container-main {
    max-width: 840px;
    padding: 97px 15px;
  }
}

.newsletter {
  padding: 0 15px;

  .container-main {
    max-width: 741px;
    padding: 0;
  }
}

.newsletter__title{
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 0 17px 0;
}

.newsletter__subtitle{
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #898989;
  text-align: center;
  max-width: 714px;
  margin: auto;
}


.form__newsletter {
  text-align: center;
}

.form__email-subs {
  width: 70%;
  margin-top: 38px;
}

.form__submit__newsletter {
  background: #fff;
  color: $main-color;
  font-size: 16px;
}

.nav-link {
  margin-top: 114px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-link__item {
  max-width: 177px;
  padding: 10px;
}

.nav-link__list {
  margin-top: 3px;
}

.nav-link__link {
  color: #fff;
  font-size: 16px;
  font-family: $primary-font;

  &:hover {
    color: $hover-color;
  }
}


