.footer-main {
  .container-wrap {
    padding: 17px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copy {
      font: 12px 'Roboto', sans-serif;
    }

    @media (max-width: 450px) {
      flex-direction: column;

      .copy {
        margin-top: 10px;
      }
    }
  }
}