.price {
  padding: 75px 0 0 0;

  .container-wrap {
    text-align: center;

    h2 {
      font-size: 32px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      font: 16px 'Roboto', sans-serif;
      font-weight: bold;
      margin-bottom: 64px;
    }

    .wrap-price {
      max-width: 271px;
      height: 582px;
      position: relative;
      margin: 20px auto 0;

      .title {
        background: #f0f0f2;
        padding: 43px;
        font: 24px 'Roboto', sans-serif;
      }

      .number {
        font: 54px 'Oswald', sans-serif;
        margin-top: 37px;
        font-weight: bold;

        span {
          font: 30px ' Oswald', sans-serif;
          vertical-align: super;
          position: relative;
          font-weight: bold;

          span {
            vertical-align: sub;
            font: 12px 'Roboto', sans-serif;
            text-transform: uppercase;
            position: absolute;
            width: 118px;
            left: 0;
            bottom: -17px;
            color: #50cbbe;
            text-align: left;
          }
        }

        &:after {
          content: " ";
          display: block;
          width: 68px;
          height: 5px;
          background: #50cbbe;
          margin-top: 43px;
          margin-left: 60px;
        }
      }

      .menu {
        padding-left: 40px;
        text-align: left;
        margin-top: 43px;
        font: 14px 'Roboto', sans-serif;
        text-transform: uppercase;

        li {
          margin-bottom: 20px;
        }
      }

      .wrap-btn {
        position: absolute;
        bottom: 30px;
        width: 100%;

        .btn {
          font: 14px 'Roboto', sans-serif;
          padding: 20px 25px;
          background: #50cbbe;
          color: #3b3b3b;
          text-transform: uppercase;
          font-weight: bold;
          border: 1px solid #50cbbe;

          &:hover {
            background: $color-white;
            color: #50cbbe;
          }
        }
      }
    }

    .col-lg-4:nth-child(2) {
      .wrap-price {
        min-height: 622px;
        margin: auto;

        .number {
          font: 60px 'Oswald', sans-serif;
          font-weight: bold;

          span {
            font: 36px ' Oswald', sans-serif;
            vertical-align: super;
            position: relative;
            font-weight: bold;

            span {
              vertical-align: sub;
              font: 12px 'Roboto', sans-serif;
              text-transform: uppercase;
              position: absolute;
              width: 118px;
              left: 0;
              bottom: -17px;
              color: #50cbbe;
              text-align: left;
            }
          }
        }
      }
    }
  }
}