.container-wrap {
  max-width: 1112px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  padding: 0 15px; }

.menu {
  margin: 0;
  padding: 0; }
  .menu li {
    display: inline-block; }

.svg-inline--fa.fa-w-16 {
  width: inherit; }

#toTop {
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 9; }
  #toTop .fa-arrow-up {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #59cbfa;
    color: #59cbfa;
    transition: .4s;
    box-shadow: 0 0 10px 0;
    font-size: 50px; }
    #toTop .fa-arrow-up:hover {
      background: rgba(0, 0, 0, 0.3); }

.main-header {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 8; }
  .main-header .container-wrap {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-header .container-wrap .menu-hide {
      margin-top: 5px;
      display: none;
      cursor: pointer; }
      .main-header .container-wrap .menu-hide .fa-bars, .main-header .container-wrap .menu-hide .fa-times {
        font-size: 30px; }
    .main-header .container-wrap .nav-menu {
      transition: .4s;
      z-index: 1; }
      .main-header .container-wrap .nav-menu li a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #3b3b3b;
        margin: 0 15px;
        transition: .4s; }
        .main-header .container-wrap .nav-menu li a .fa-home {
          color: #59cbfa; }
        .main-header .container-wrap .nav-menu li a:hover {
          color: #17a8c7; }
      .main-header .container-wrap .nav-menu .close-nav {
        display: none; }
    .main-header .container-wrap .to-show {
      left: 0; }
    @media (max-width: 430px) {
      .main-header .container-wrap .nav-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 100%;
        background: rgba(0, 0, 0, 0.5);
        width: 40%;
        transition: .4s; }
        .main-header .container-wrap .nav-menu li {
          display: block;
          padding: 15px 0; }
          .main-header .container-wrap .nav-menu li a {
            color: #fff; }
        .main-header .container-wrap .nav-menu .close-nav {
          position: absolute;
          display: block;
          top: 0;
          right: 5px;
          color: white;
          cursor: pointer; }
          .main-header .container-wrap .nav-menu .close-nav:hover {
            color: #f05231; }
      .main-header .container-wrap .menu-hide {
        display: block; } }
    .main-header .container-wrap .wrap-comm li a {
      display: inline-block;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #3b3b3b;
      font-weight: bold;
      margin-right: 15px;
      transition: .4s; }
      .main-header .container-wrap .wrap-comm li a .fa-phone, .main-header .container-wrap .wrap-comm li a .fa-clock {
        padding-right: 16px; }
      .main-header .container-wrap .wrap-comm li a:hover {
        color: #17a8c7; }
    .main-header .container-wrap .wrap-comm li:last-child a {
      padding: 19px;
      color: #fff;
      background: #17a8c7;
      font-size: 14px;
      border: 1px solid #17a8c7;
      margin-right: 0; }
      .main-header .container-wrap .wrap-comm li:last-child a:hover {
        background: #fff;
        color: #17a8c7; }
    @media (max-width: 630px) {
      .main-header .container-wrap .wrap-comm {
        display: flex;
        flex-direction: column;
        text-align: center; }
        .main-header .container-wrap .wrap-comm li a {
          margin-bottom: 10px; } }
    @media (max-width: 1100px) {
      .main-header .container-wrap {
        flex-direction: column; }
        .main-header .container-wrap .wrap-comm, .main-header .container-wrap .nav-menu {
          margin-top: 15px; } }
    @media (max-width: 430px) {
      .main-header .container-wrap .nav-menu {
        margin-top: 0; } }

.form-order {
  background: url("../images/1401131603-1045065001-copy.png") no-repeat fixed center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center; }
  .form-order .container-wrap .wrap-form {
    text-align: center; }
    .form-order .container-wrap .wrap-form h1 {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      margin: 0; }
    .form-order .container-wrap .wrap-form h2 {
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      color: #fff; }
    .form-order .container-wrap .wrap-form .form-send {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 587px; }
      .form-order .container-wrap .wrap-form .form-send .input-text {
        width: 100%;
        height: 80px;
        border: none; }
      .form-order .container-wrap .wrap-form .form-send .button-send {
        max-width: 185px;
        margin: 30px auto 0;
        padding: 20px;
        background: #17a8c7;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        border: 1px solid #17a8c7;
        transition: .4s;
        text-decoration: none; }
        .form-order .container-wrap .wrap-form .form-send .button-send:hover {
          background: #fff;
          color: #17a8c7; }
    @media (max-width: 560px) {
      .form-order .container-wrap .wrap-form h1 {
        font-size: 20px; }
      .form-order .container-wrap .wrap-form h2 {
        font-size: 30px; } }
    @media (max-width: 420px) {
      .form-order .container-wrap .wrap-form h1 {
        font-size: 15px; }
      .form-order .container-wrap .wrap-form h2 {
        font-size: 20px; } }
  @media (max-width: 1600px) {
    .form-order {
      padding-top: 50px; } }

.why-us {
  background: #f0eff2; }
  .why-us .container-wrap {
    padding: 75px 0; }
    .why-us .container-wrap h2 {
      font-size: 32px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin-bottom: 80px;
      text-transform: uppercase; }
    .why-us .container-wrap .container-fluid .row .wrap-icon-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .why-us .container-wrap .container-fluid .row .wrap-icon-text .wrap-icon {
        width: 162px;
        height: 162px;
        border-radius: 100px; }
      .why-us .container-wrap .container-fluid .row .wrap-icon-text .microscope {
        background: #fff url("../images/microscope-filled-100.png") no-repeat 50% 50%; }
      .why-us .container-wrap .container-fluid .row .wrap-icon-text .area {
        background: #fff url("../images/area-chart-100.png") no-repeat 50% 50%; }
      .why-us .container-wrap .container-fluid .row .wrap-icon-text .key {
        background: #fff url("../images/key-exchange-100.png") no-repeat 50% 50%; }
      .why-us .container-wrap .container-fluid .row .wrap-icon-text .for {
        background: #fff url("../images/for-experienced-100.png") no-repeat 50% 50%; }
      .why-us .container-wrap .container-fluid .row .wrap-icon-text .wrap-text {
        text-align: center;
        margin-top: 35px;
        font-size: 16px;
        color: #3b3b3b;
        font-family: 'Roboto', sans-serif;
        font-weight: bold; }

.develop-design .container-wrap {
  padding: 0;
  max-width: 1600px; }
  .develop-design .container-wrap .owl-carousel .wrap-img-info {
    padding: 92px 0;
    background: url("../images/layer-229.png") no-repeat center/cover;
    display: flex;
    justify-content: space-between; }
    .develop-design .container-wrap .owl-carousel .wrap-img-info img {
      max-width: 100%; }
    .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info {
      padding: 0 15px 0 0; }
      .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info h2 {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold; }
        @media (max-width: 450px) {
          .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info h2 {
            font-size: 25px;
            max-width: 320px;
            margin: auto; } }
      .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info a {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        text-decoration: none; }
        .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info a span {
          text-transform: uppercase;
          font-weight: bold; }
    @media (max-width: 740px) {
      .develop-design .container-wrap .owl-carousel .wrap-img-info {
        display: flex;
        flex-direction: column; }
        .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info {
          margin-top: 30px;
          text-align: center;
          padding: 0 15px; }
          .develop-design .container-wrap .owl-carousel .wrap-img-info .wrap-info p {
            margin-top: 15px; } }
  .develop-design .container-wrap .owl-carousel .wrap-img-info.slider {
    background: url("../images/layer-230.png") no-repeat center/cover; }
  .develop-design .container-wrap .owl-nav .owl-prev {
    position: absolute;
    left: -10%;
    top: 50%;
    width: 56px;
    height: 56px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 30px; }
  .develop-design .container-wrap .owl-nav .owl-next {
    position: absolute;
    right: -10%;
    top: 50%;
    width: 56px;
    height: 56px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 30px; }
  @media (max-width: 1340px) {
    .develop-design .container-wrap .owl-nav .owl-prev {
      left: 0; }
    .develop-design .container-wrap .owl-nav .owl-next {
      right: 0; } }

.portfolio {
  padding: 75px 0 0 0; }
  .portfolio .container-wrap {
    text-align: center; }
    .portfolio .container-wrap h2 {
      font-size: 32px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      text-transform: uppercase; }
    .portfolio .container-wrap p {
      font: 16px 'Roboto', sans-serif;
      font-weight: bold;
      margin-bottom: 64px; }
  .portfolio .container-portfolio {
    max-width: 1603px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center; }
    .portfolio .container-portfolio .wrap-img-op {
      position: relative;
      transition: .4s;
      cursor: pointer; }
      .portfolio .container-portfolio .wrap-img-op img {
        border: none;
        max-width: 100%; }
      .portfolio .container-portfolio .wrap-img-op .effect {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(89, 203, 250, 0.5);
        justify-content: center; }
        .portfolio .container-portfolio .wrap-img-op .effect .ellipse {
          position: absolute;
          top: 20%;
          width: 53px;
          height: 53px;
          border-radius: 30px;
          background: #fff url("../images/layer-15.png") no-repeat 50% 50%; }
        .portfolio .container-portfolio .wrap-img-op .effect .portfolio {
          position: absolute;
          bottom: 0;
          display: none;
          width: 100%;
          height: 30%;
          background: rgba(240, 240, 242, 0.5);
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .portfolio .container-portfolio .wrap-img-op .effect .portfolio p {
            font: 16px 'Roboto', sans-serif; }
          .portfolio .container-portfolio .wrap-img-op .effect .portfolio p:last-child {
            font: 14px 'Roboto', sans-serif;
            font-weight: bold; }
      .portfolio .container-portfolio .wrap-img-op:hover .effect {
        display: flex; }
      .portfolio .container-portfolio .wrap-img-op:hover .portfolio {
        display: flex; }

.price {
  padding: 75px 0 0 0; }
  .price .container-wrap {
    text-align: center; }
    .price .container-wrap h2 {
      font-size: 32px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      text-transform: uppercase; }
    .price .container-wrap p {
      font: 16px 'Roboto', sans-serif;
      font-weight: bold;
      margin-bottom: 64px; }
    .price .container-wrap .wrap-price {
      max-width: 271px;
      height: 582px;
      position: relative;
      margin: 20px auto 0; }
      .price .container-wrap .wrap-price .title {
        background: #f0f0f2;
        padding: 43px;
        font: 24px 'Roboto', sans-serif; }
      .price .container-wrap .wrap-price .number {
        font: 54px 'Oswald', sans-serif;
        margin-top: 37px;
        font-weight: bold; }
        .price .container-wrap .wrap-price .number span {
          font: 30px ' Oswald', sans-serif;
          vertical-align: super;
          position: relative;
          font-weight: bold; }
          .price .container-wrap .wrap-price .number span span {
            vertical-align: sub;
            font: 12px 'Roboto', sans-serif;
            text-transform: uppercase;
            position: absolute;
            width: 118px;
            left: 0;
            bottom: -17px;
            color: #50cbbe;
            text-align: left; }
        .price .container-wrap .wrap-price .number:after {
          content: " ";
          display: block;
          width: 68px;
          height: 5px;
          background: #50cbbe;
          margin-top: 43px;
          margin-left: 60px; }
      .price .container-wrap .wrap-price .menu {
        padding-left: 40px;
        text-align: left;
        margin-top: 43px;
        font: 14px 'Roboto', sans-serif;
        text-transform: uppercase; }
        .price .container-wrap .wrap-price .menu li {
          margin-bottom: 20px; }
      .price .container-wrap .wrap-price .wrap-btn {
        position: absolute;
        bottom: 30px;
        width: 100%; }
        .price .container-wrap .wrap-price .wrap-btn .btn {
          font: 14px 'Roboto', sans-serif;
          padding: 20px 25px;
          background: #50cbbe;
          color: #3b3b3b;
          text-transform: uppercase;
          font-weight: bold;
          border: 1px solid #50cbbe; }
          .price .container-wrap .wrap-price .wrap-btn .btn:hover {
            background: #fff;
            color: #50cbbe; }
    .price .container-wrap .col-lg-4:nth-child(2) .wrap-price {
      min-height: 622px;
      margin: auto; }
      .price .container-wrap .col-lg-4:nth-child(2) .wrap-price .number {
        font: 60px 'Oswald', sans-serif;
        font-weight: bold; }
        .price .container-wrap .col-lg-4:nth-child(2) .wrap-price .number span {
          font: 36px ' Oswald', sans-serif;
          vertical-align: super;
          position: relative;
          font-weight: bold; }
          .price .container-wrap .col-lg-4:nth-child(2) .wrap-price .number span span {
            vertical-align: sub;
            font: 12px 'Roboto', sans-serif;
            text-transform: uppercase;
            position: absolute;
            width: 118px;
            left: 0;
            bottom: -17px;
            color: #50cbbe;
            text-align: left; }

.location {
  padding: 75px 0 0 0; }
  .location .map {
    position: relative; }
    .location .map iframe {
      width: 100%;
      display: block; }
    .location .map .order-up {
      width: 350px;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20%;
      left: 15%;
      background: #fff; }
      .location .map .order-up h2 {
        text-align: center;
        font: 24px 'Roboto', sans-serif;
        margin-bottom: 25px;
        text-transform: uppercase; }
      .location .map .order-up .form-prefooter {
        max-width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column; }
        .location .map .order-up .form-prefooter input {
          text-align: center;
          margin: 9px 0;
          font: 14px 'Roboto', sans-serif;
          color: #3b3b3b;
          border: none;
          padding: 10px; }
        .location .map .order-up .form-prefooter .button-send {
          text-align: center;
          padding: 20px 0;
          background: #f05231;
          font: 14px 'Roboto', sans-serif;
          text-transform: uppercase;
          color: #fff;
          font-weight: bold;
          border: 1px solid #f05231;
          transition: .4s;
          cursor: pointer;
          text-decoration: none; }
          .location .map .order-up .form-prefooter .button-send:hover {
            background: #fff;
            color: #f05231; }
      @media (max-width: 500px) {
        .location .map .order-up {
          display: none; } }

.footer-main .container-wrap {
  padding: 17px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-main .container-wrap .copy {
    font: 12px 'Roboto', sans-serif; }
  @media (max-width: 450px) {
    .footer-main .container-wrap {
      flex-direction: column; }
      .footer-main .container-wrap .copy {
        margin-top: 10px; } }

.wrap-order-pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9; }
  .wrap-order-pop-up .order-pop-up {
    width: 350px;
    height: 410px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff; }
    .wrap-order-pop-up .order-pop-up h2 {
      text-align: center;
      font: 24px 'Roboto', sans-serif;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .wrap-order-pop-up .order-pop-up .form-pop-up {
      max-width: 300px;
      margin: auto;
      display: flex;
      flex-direction: column; }
      .wrap-order-pop-up .order-pop-up .form-pop-up input {
        text-align: center;
        margin: 9px 0;
        font: 14px 'Roboto', sans-serif;
        color: #3b3b3b;
        border: none;
        padding: 10px; }
      .wrap-order-pop-up .order-pop-up .form-pop-up button {
        padding: 20px;
        background: #f05231;
        font: 14px 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        border: 1px solid #f05231;
        transition: .4s;
        cursor: pointer; }
        .wrap-order-pop-up .order-pop-up .form-pop-up button:hover {
          background: #fff;
          color: #f05231; }
    .wrap-order-pop-up .order-pop-up .close-pop {
      position: absolute;
      top: -20px;
      right: -20px;
      border-radius: 25px;
      background: #424245;
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .wrap-order-pop-up .order-pop-up .close-pop .fa-times {
        font-size: 25px;
        color: #fff; }
      .wrap-order-pop-up .order-pop-up .close-pop:hover .fa-times {
        color: #f05231; }
    @media (max-width: 420px) {
      .wrap-order-pop-up .order-pop-up {
        max-width: 300px; }
        .wrap-order-pop-up .order-pop-up .close-pop {
          top: 0;
          right: 0; } }

/*# sourceMappingURL=all.css.map */
