.main-header {
  background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
  position: fixed;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;

    .wrap-logo {
      display: flex;
      align-items: center;
      font-size: 22px;
      text-decoration: none;
      transition: .4s;

      &:hover {
        color: #fff;
      }
    }

    .wrap-basket {
      position: relative;
      transition: .4s;

      .add-to-basket {
        position: absolute;
        right: -15px;
        top: 0;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 15px;
        text-align: center;
        color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}