html {
  font-size: 5.2083vw;
  font-family: 'Roboto Condensed Regular', sans-serif;
}

.wrap-img {
  img {
    width: 100%;
  }
}

// style font

.font-small {
  font-size: .16rem;
  line-height: .19rem;
}

.font-above-small {
  font-size: .23rem;
  line-height: .26rem;
}

.font-title-block {
  font-size: .30rem;
  line-height: .35rem;
}
