.main-header {
  .container {
    text-align: center;

    img {
      max-width: 100%;
      padding: 40px 0;
    }

    .wrap-menu {
      background-image: linear-gradient(to top, #d4b279 0%, #e5c381 51%, #d2b279 100%);
      padding: 15px;

      .menu-header {
        li {
          a {
            font: 16px $font-all;
            padding: 0 8px;
            color: $color-font-primery;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      .wrap-phone-login {
        width: 310px;
        align-items: center;
        .phone {
          font: 18px $font-all;
          a {

            color: $color-font-primery;
            i {
              padding-right: 6px;
            }
            &:hover {
              color: #fff;
            }
          }
        }
        .wrap-login {
          font: 16px $font-all;
          align-items: center;

          .register {
            a {
              text-decoration: underline;
              border-right: 1px solid $color-font-primery;
              padding: 0 4px;
              color: $color-font-primery;
              &:hover {
                color: #fff;
              }
            }
          }
          .login-in {
            a {
              padding: 4px;
              color: $color-font-primery;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}