
.our-story {
  max-width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 67px 10px;
  //background: url("../images/wall-2933017_1920.jpg")no-repeat center/cover;

  .wrap-img {
    img {
      width: 100%;
    }
  }

  .wrap-story {
    max-width: 538px;
    .title {
      font-size: 22px;
      font-family: 'Playfair Display', serif;
      padding-bottom: 28px;
    }
    .text {
      padding-bottom: 28px;
      font: 14px/1.5 'Roboto', sans-serif;
      color: #413d4b;
      a {
        color: $color-main;
        text-decoration: none;
      }
    }

    .button-wrapper {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .our-story {
    flex-flow: row wrap;
    .wrap-img, .wrap-story {
      margin: auto;
    }
  }
}

.container-expertise {
  max-width: 940px;
  margin: auto;
  padding: 74px 0 68px;
  background: #f5f5f5;

  .title {
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .dash {
    width: 100px;
    margin: auto;
    border: 1px solid #ff834b;
  }
  .wrap-item {
    padding-top: 45px;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #ebebeb;
    width: 100%;

    .item {
      width: calc(100%/4);
      margin: auto;
      padding: 37px 0;
      border-right: 1px solid #ebebeb;
      transition: .4s;
      text-align: center;

      i {
        color: #ff834b;
      }

      .title {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        padding: 35px 0 25px;
      }

      .text {
        font: 14px/1.5 'Roboto', sans-serif;
        padding: 0 5px;
      }
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 10px 3px #6d6d6d;
        cursor: pointer;
      }
      @media (max-width: 800px) {
        width: calc(100%/3);
      }
      @media (max-width: 650px) {
        width: calc(100%/2);
      }
      @media (max-width: 470px) {
        width:100%;
      }
    }

    @media (max-width: 920px) {
      .item {
        border: none;
      }
    }

  }
}

.wrap-works {
  max-width: 940px;
  margin: auto;
  padding: 69px 10px;

  .title {
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .dash {
    width: 100px;
    margin: auto;
    border: 1px solid #ff834b;
  }
}

.wrap-more-img {
  max-width: 940px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .wrap-img {
    width: calc(100% / 3);
    padding: 0 12px 10px;

    .wrap-img-op {
      position: relative;
      overflow: hidden;
      border: 1px solid rgba(129, 135, 131, 0.45);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .myproject {
        position: absolute;
        top: -30px;
        transition: top .5s;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        left: 0;
        font-family: 'Playfair Display', serif;
      }
      .opasiti {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: none;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
    img {
      width: 100%;
      display: block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    @media (max-width: 1050px) {
      width: calc(100% / 3);
    }
    @media (max-width: 700px) {
      width: calc(100% / 2);
    }
    @media (max-width: 600px) {
      width: 75%;
      padding: 5px 12px;
      margin: auto;
    }
    .text {
      font: 14px 'Roboto', sans-serif;
      color: #333;
      padding: 10px 0;
      text-align: center;
      border: 1px solid rgba(129, 135, 131, 0.45);
      border-top: none;
      transition: .3s;
      font-weight: bold;
    }
    .price {
      font: 14px 'Roboto', sans-serif;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      border: 1px solid rgba(129, 135, 131, 0.45);
      border-top: none;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: #289dcc;
      color: #fff;
    }
    &:hover {
      cursor: pointer;
      .text {
        background: #289dcc;
        color: white;
      }
      .opasiti {
        display: block;
      }
      .myproject {
        top: 45%;

      }
    }
  }
}

.container-button {
  max-width: 940px;
  margin: auto;
  text-align: center;
  padding: 68px 0;

}

.wrap-jane {
  background: url(../images/brick-wall-2119712_1920.jpg) no-repeat center/cover;
  position: relative;

  .container-jane {
    position: relative;
    z-index: 1;
    max-width: 940px;
    margin: auto;
    padding: 70px 0;
    text-align: center;
    color: white;
    .owl-carousel-bottom {
      .item {
        .text-1 {
          font-size: 100px;
          font-family: 'Playfair Display', serif;
          line-height: 22px;
          text-align: left;
        }

        .text {
          font: 16px/1.7 'Playfair Display', serif;
          padding: 0 10px 45px;
          max-width: 770px;
          margin: auto;
        }

        .text-2 {
          font-size: 14px;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          padding: 25px 0 13px;
        }
        .text-3 {
          font-size: 13px;
          font-family: 'Roboto', sans-serif;
          padding-bottom: 35px;
        }
        .wrap-img {
          width: 200px;
          margin: auto;
          img{
            border-radius: 108px;
          }
        }
      }
      .owl-dots {
        padding-top: 30px;

        .owl-dot {
          border: 1px solid $color-main;
          width: 13px;
          height: 13px;
          display: inline-block;
          border-radius: 10px;
          margin: 0 2px;
          transition: .4s;
          &:hover {
            background: $color-main;
          }
        }
        .active {
          background: $color-main;
        }
      }
    }
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: "";
    background: rgba(56, 33, 75, 0.7);
  }
}

.pre-footer {
  max-width: 940px;
  margin: auto;
  padding: 70px 10px;
  display: flex;

  .pre-form {
    max-width: 465px;
    margin: auto;
    form {
      display: flex;
      flex-direction: column;
      input {
        padding: 20px 0 20px 20px;
        margin-bottom: 20px;
      }
      input:focus, textarea:focus{
        border: 2px solid $color-main;
        outline: none;
      }
      textarea {
        margin-bottom: 20px;
        padding: 20px 0 0 20px;
        resize: none;
      }

      .btn {
        background: $color-main;
        cursor: pointer;
        color: #fff;
      }
      span {
        color: red;
      }

    }

    @media (max-width: 470px) {
      form {
        max-width: 290px;
      }
    }
    .title {
      font-size: 22px;
      font-family: 'Playfair Display', serif;
      padding-bottom: 34px;
    }
  }
}

@media (max-width: 860px) {
  .pre-footer {
    display: flex;
    flex-direction: column;
    .pre-form {
      margin: auto;
    }
    .pre-brand {
      margin: auto;
      padding-top: 20px;
    }
  }
}

