@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/Bebas/BebasNeueRegular.eot');
  src: url('../fonts/Bebas/BebasNeueRegular.eot') format('embedded-opentype'),
  url('../fonts/Bebas/BebasNeueRegular.woff2') format('woff2'),
  url('../fonts/Bebas/BebasNeueRegular.woff') format('woff'),
  url('../fonts/Bebas/BebasNeueRegular.ttf') format('truetype'),
  url('../fonts/Bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/Myriad/MyriadProRegular.eot');
  src: url('../fonts/Myriad/MyriadProRegular.eot') format('embedded-opentype'),
  url('../fonts/Myriad/MyriadProRegular.woff2') format('woff2'),
  url('../fonts/Myriad/MyriadProRegular.woff') format('woff'),
  url('../fonts/Myriad/MyriadProRegular.ttf') format('truetype'),
  url('../fonts/Myriad/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

@font-face {
  font-family: 'PTSans_Regular';
  src: url('../fonts/PT Sans/PTSans_Regular.eot');
  src: url('../fonts/PT Sans/PTSans_Regular.eot') format('embedded-opentype'),
  url('../fonts/PT Sans/PTSans_Regular.woff2') format('woff2'),
  url('../fonts/PT Sans/PTSans_Regular.woff') format('woff'),
  url('../fonts/PT Sans/PTSans_Regular.ttf') format('truetype'),
  url('../fonts/PT Sans/PTSans_Regular.svg#PTSans_Regular') format('svg');
}
