.primary-main {
  background: #eee;

  .pre-view {
    .container-main {
      max-width: 1920px;
      padding: 0;

      .container-fluid {
        .col-lg-4 {
          .wrap-item {
            position: relative;
            background: $white-color;
            transition: .4s;
            margin-top: 15px;

            img {
              max-width: 100%;
            }

            a {
              padding: 20px 15px;
              display: inline-block;
              text-decoration: none;
              text-transform: uppercase;
              font: 16px $primary-font;
              color: #696969;
              border-bottom: 2px solid transparent;
              transition: .4s;

              &:hover {
                border-bottom: 2px solid $primary-color;
              }
            }

            .wrap-item-hover {
              position: absolute;
              top: 0;
              bottom: 100%;
              left: 0;
              right: 0;
              background: $primary-color;
              transition: .4s;

              .item-top {
                display: none;
                height: 50%;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $white-color;

                a {
                  color: $white-color;
                  border: none;

                  &:hover {
                    color: $secondary-color;
                  }
                }
              }

              .for-media {
                @media (max-width: 470px) {
                  height: 20%;
                }
              }

              .wrap-item-bottom {
                height: 50%;
                display: none;

                .first-item {
                  display: flex;
                  align-items: center;
                  border-top: 1px solid $white-color;

                  li {
                    width: 100%;
                    border-top: none;
                  }
                }

                ul {
                  margin: 0;
                  padding: 0;
                  list-style-type: none;
                  width: 50%;
                  border-right: 1px solid $white-color;

                  li {
                    display: flex;
                    justify-content: space-between;
                    color: $white-color;
                    padding: 15px 0;
                    border-top: 1px solid $white-color;

                    a {
                      font: 11px $primary-font;
                      color: $white-color;
                      padding: 0 0 0 10px;
                      text-transform: none;

                      &:hover {
                        color: $secondary-color;
                      }
                    }

                    .fa-angle-right {
                      margin-right: 10px;
                    }
                  }
                }

                ul:last-child {
                  border-right: 0;
                }
              }
            }

            &:hover {
              .wrap-item-hover {
                bottom: 0;

                .item-top {
                  display: flex;
                }
                .wrap-item-bottom {
                  display: flex;
                }
              }
            }
          }

          @media(max-width: 768px) {
            margin-top: 20px;

            .wrap-item {
              img {
                width: 100%;
              }

              a {
                padding: 0;
              }
            }
          }
        }

        @media (max-width: 425px) {
          padding: 0;
        }
      }
    }
  }
}