//colors

$primary-color: #f7920f;
$secondary-color: #334d6a;
$head-foot-color: #373737;

$white-color: #fff;
$black-color: #000;

$grad: linear-gradient(to right, #d007c5, #f46a4c);

//fonts

$primary-font: 'MyriadProRegular', sans-serif;
$secondary-font: 'PTSans_Regular', sans-serif;
$third-font: 'BebasNeueRegular', sans-serif;
