.sub-list {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrap-img {
      img {
        max-width: 100%;
      }
    }

    .wrap-description {
      max-width: 415px;
      .dash {
        font: 14px/1.4 'Raleway', sans-serif;
        color: #86878b;
        padding: 40px 0;
        position: relative;

        &:before {
          content: " ";
          width: 74px;
          border: 1px solid $color-secondary;
          display: inline-block;
          position: absolute;
          top: 0;
        }
      }
      .wrap-cloud {
        display: flex;
        justify-content: space-between;

        a {
          color: $color-secondary;
          width: 40px;
          height: 40px;
          border: 2px solid $color-secondary;
          border-radius: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .4s;

          &:hover {
            background: #5ACF42;
            color: $color-primery;
            border: 2px solid #5ACF42;
          }
        }
        .wrap-cloud-desc {
          max-width: 334px;
          h2 {
            margin: 0;
            font-size: 12px;
          }
        }
      }
      .wrap-cloud:last-child {
        padding-top: 30px;
      }
    }
  }

  @media (max-width: $screen-md) {
    .container {
      flex-direction: column;
      .wrap-description {
        max-width: 100%;

        .wrap-cloud {
          flex-direction: column;
          align-items: center;

          .wrap-cloud-desc {
            max-width: 100%;
          }
        }
      }
    }
  }

}