/* fonts */

$font-title: 26px 'Raleway', sans-serif;
$font-sub-title: 20px 'Open Sans', sans-serif;
$font-desc: 14px/1.4 'Open Sans', sans-serif;

/* colors */
$color-primery: #fff;
$color-secondary: #ff834b;
$color-desc: #86878b;
$color-title: #212121;


/* Respons */

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;