@charset "UTF-8";
/* fonts */
/* colors */
/* Respons */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none; }

h1 {
  font: 36px 'Raleway', sans-serif; }

h2 {
  font: 20px "Open Sans", sans-serif;
  color: #212121;
  font-weight: bold; }

p {
  font: 14px/1.4 "Open Sans", sans-serif;
  color: #86878b; }

.container {
  max-width: 1110px;
  box-sizing: border-box;
  margin: auto;
  padding: 105px 15px;
  position: relative; }

.btn {
  display: inline-block;
  padding: 15px 32px;
  font: 15px 'Open Sans', sans-serif;
  color: #fff; }

.main-header .header-top {
  background: #000;
  position: relative; }
  .main-header .header-top .container {
    display: flex;
    justify-content: space-between;
    padding: 21px 15px; }
    .main-header .header-top .container .logo {
      transition: .4s; }
      .main-header .header-top .container .logo:hover {
        box-shadow: 0 0 25px 0 #ff834b; }
    .main-header .header-top .container .wrap-menu {
      display: flex;
      align-items: center; }
      .main-header .header-top .container .wrap-menu .menu-header li {
        padding-left: 45px; }
        .main-header .header-top .container .wrap-menu .menu-header li a {
          display: inline-block;
          font: 14px/1.4 "Open Sans", sans-serif;
          color: #fff;
          transition: .4s;
          width: 100%; }
          .main-header .header-top .container .wrap-menu .menu-header li a:hover {
            color: #ff834b; }
        .main-header .header-top .container .wrap-menu .menu-header li .active {
          color: #ff834b; }
    .main-header .header-top .container .gamburger {
      display: none;
      color: #fff;
      cursor: pointer;
      transition: .4s; }
      .main-header .header-top .container .gamburger:hover {
        color: #ff834b; }
    @media (max-width: 768px) {
      .main-header .header-top .container .wrap-menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 2;
        border-bottom: 1px solid white;
        border-top: 1px solid white; }
        .main-header .header-top .container .wrap-menu .menu-header li {
          display: block;
          text-align: center;
          padding-left: 0; }
          .main-header .header-top .container .wrap-menu .menu-header li a {
            padding: 5px 0; }
          .main-header .header-top .container .wrap-menu .menu-header li:hover {
            background: rgba(255, 255, 255, 0.5); }
      .main-header .header-top .container .gamburger {
        display: block; } }

.banner {
  position: relative;
  background: url("../images/image.png") no-repeat fixed center/cover;
  min-height: 90vh;
  display: flex;
  align-items: center; }
  .banner .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 90px 15px; }
    .banner .container .wrap-product {
      max-width: 50%; }
      .banner .container .wrap-product h1 {
        color: #fff;
        text-transform: uppercase; }
      .banner .container .wrap-product p {
        font: 16px/1.4 'Raleway', sans-serif;
        color: #fff;
        padding: 40px 0;
        position: relative; }
        .banner .container .wrap-product p:before {
          content: " ";
          width: 74px;
          border: 1px solid #fff;
          display: inline-block;
          position: absolute;
          top: 0; }
      .banner .container .wrap-product .btn {
        display: inline-block;
        border: 1px solid #fff;
        transition: .4s;
        margin: 5px; }
        .banner .container .wrap-product .btn.try {
          border: 1px solid #5ACF42;
          display: none;
          background: #5ACF42;
          font-weight: bold; }
          .banner .container .wrap-product .btn.try span {
            color: #ff834b; }
        .banner .container .wrap-product .btn:hover {
          background: #ff834b;
          border: 1px solid #ff834b; }
          .banner .container .wrap-product .btn:hover span {
            color: #5ACF42; }
    .banner .container .wrap-form-header {
      max-width: 50%;
      display: flex;
      position: relative; }
      .banner .container .wrap-form-header .form-header {
        border-radius: 5px;
        text-align: center;
        max-width: 360px;
        margin: auto;
        background: #fff;
        position: relative; }
        .banner .container .wrap-form-header .form-header h2 {
          margin: 0;
          padding: 15px 0;
          background: #f5f5f5;
          color: #212121;
          font: 20px "Open Sans", sans-serif;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-weight: bold; }
          .banner .container .wrap-form-header .form-header h2 span {
            color: #ff834b; }
        .banner .container .wrap-form-header .form-header input {
          width: 80%;
          border-top: none;
          border-left: none;
          border-right: none;
          padding: 10px;
          margin-top: 40px; }
        .banner .container .wrap-form-header .form-header button {
          margin-top: 40px;
          cursor: pointer;
          padding: 20px 0;
          width: 100%;
          border: none;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          background: #ff834b;
          color: #fff;
          transition: .2s; }
          .banner .container .wrap-form-header .form-header button:hover {
            background: #5ACF42; }
        .banner .container .wrap-form-header .form-header .close {
          display: none;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0; }
          .banner .container .wrap-form-header .form-header .close:hover {
            color: #ff834b; }
    @media (max-width: 992px) {
      .banner .container .wrap-product {
        max-width: 100%; }
        .banner .container .wrap-product .btn.try {
          display: inline-block; }
      .banner .container .wrap-form-header {
        display: none;
        position: fixed;
        background: rgba(0, 0, 0, 0.92);
        width: 100%;
        max-width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .4s; }
        .banner .container .wrap-form-header.active-form {
          transition: .4s;
          opacity: 1;
          display: flex;
          align-items: center; }
        .banner .container .wrap-form-header .close {
          display: block !important; } }
    @media (max-width: 768px) {
      .banner .container .wrap-product {
        text-align: center; }
      .banner .container p:before {
        right: 43%; } }
    @media (max-width: 520px) {
      .banner .container .wrap-product h1 {
        font-size: 20px; } }

.social .container {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between; }
  .social .container .warp-social-content {
    max-width: 36%; }
  .social .container .warp-social-icon {
    max-width: 63%;
    display: flex;
    align-items: center; }
    .social .container .warp-social-icon ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .social .container .warp-social-icon ul li {
        padding: 0 20px; }
        .social .container .warp-social-icon ul li a {
          display: inline-block; }
          .social .container .warp-social-icon ul li a .fa {
            color: #cbcbcb;
            transition: .4s; }
            .social .container .warp-social-icon ul li a .fa:hover {
              color: #ff834b; }
@media (max-width: 768px) {
  .social .container {
    flex-direction: column;
    text-align: center; }
    .social .container .warp-social-content {
      max-width: 100%; }
    .social .container .warp-social-icon {
      max-width: 100%; }
      .social .container .warp-social-icon ul {
        margin: auto; } }

.tab-img {
  background: #f5f5f5; }
  .tab-img .container {
    display: flex;
    justify-content: space-between; }
    .tab-img .container .wrap-tab {
      max-width: 500px; }
      .tab-img .container .wrap-tab .tabs-list .tab {
        display: inline-block;
        padding: 50px 35px;
        font: 14px/1.4 "Open Sans", sans-serif;
        color: #fff;
        background: #363636;
        border-radius: 5px;
        font-weight: bold;
        transition: .4s; }
        .tab-img .container .wrap-tab .tabs-list .tab:hover {
          background: #ff834b; }
        @media (max-width: 380px) {
          .tab-img .container .wrap-tab .tabs-list .tab {
            padding: 20px 25px; } }
      @media (max-width: 380px) {
        .tab-img .container .wrap-tab .tabs-list {
          display: flex;
          justify-content: space-between; } }
      .tab-img .container .wrap-tab .tabs-content-list .tab-content {
        display: none; }
        .tab-img .container .wrap-tab .tabs-content-list .tab-content .btn {
          background: #ff834b;
          border-radius: 5px;
          margin-top: 50px;
          transition: .4s; }
          .tab-img .container .wrap-tab .tabs-content-list .tab-content .btn:hover {
            background: #5ACF42; }
      .tab-img .container .wrap-tab .tabs-content-list .tab-content.active {
        display: block; }
      .tab-img .container .wrap-tab .tab.active {
        background: #ff834b; }
    .tab-img .container .wrap-img img {
      max-width: 100%; }
  @media (max-width: 768px) {
    .tab-img .container {
      flex-direction: column;
      align-items: center; }
      .tab-img .container .wrap-img img {
        padding-top: 20px; } }

.sub-list .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sub-list .container .wrap-img img {
    max-width: 100%; }
  .sub-list .container .wrap-description {
    max-width: 415px; }
    .sub-list .container .wrap-description .dash {
      font: 14px/1.4 'Raleway', sans-serif;
      color: #86878b;
      padding: 40px 0;
      position: relative; }
      .sub-list .container .wrap-description .dash:before {
        content: " ";
        width: 74px;
        border: 1px solid #ff834b;
        display: inline-block;
        position: absolute;
        top: 0; }
    .sub-list .container .wrap-description .wrap-cloud {
      display: flex;
      justify-content: space-between; }
      .sub-list .container .wrap-description .wrap-cloud a {
        color: #ff834b;
        width: 40px;
        height: 40px;
        border: 2px solid #ff834b;
        border-radius: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s; }
        .sub-list .container .wrap-description .wrap-cloud a:hover {
          background: #5ACF42;
          color: #fff;
          border: 2px solid #5ACF42; }
      .sub-list .container .wrap-description .wrap-cloud .wrap-cloud-desc {
        max-width: 334px; }
        .sub-list .container .wrap-description .wrap-cloud .wrap-cloud-desc h2 {
          margin: 0;
          font-size: 12px; }
    .sub-list .container .wrap-description .wrap-cloud:last-child {
      padding-top: 30px; }
@media (max-width: 992px) {
  .sub-list .container {
    flex-direction: column; }
    .sub-list .container .wrap-description {
      max-width: 100%; }
      .sub-list .container .wrap-description .wrap-cloud {
        flex-direction: column;
        align-items: center; }
        .sub-list .container .wrap-description .wrap-cloud .wrap-cloud-desc {
          max-width: 100%; } }

.standart-picture {
  background: #f5f5f5; }
  .standart-picture .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .standart-picture .container .wrap-img img {
      max-width: 100%; }
    .standart-picture .container .wrap-description {
      max-width: 415px; }
      .standart-picture .container .wrap-description .dash {
        font: 14px/1.4 'Raleway', sans-serif;
        color: #86878b;
        padding: 40px 0;
        position: relative; }
        .standart-picture .container .wrap-description .dash:before {
          content: " ";
          width: 74px;
          border: 1px solid #ff834b;
          display: inline-block;
          position: absolute;
          top: 0; }
      .standart-picture .container .wrap-description .wrap-cloud {
        display: flex;
        justify-content: space-between; }
        .standart-picture .container .wrap-description .wrap-cloud a {
          color: #ff834b;
          width: 40px;
          height: 40px;
          border: 2px solid #ff834b;
          border-radius: 33px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .standart-picture .container .wrap-description .wrap-cloud .wrap-cloud-desc {
          max-width: 334px; }
          .standart-picture .container .wrap-description .wrap-cloud .wrap-cloud-desc h2 {
            margin: 0;
            font-size: 12px; }
      .standart-picture .container .wrap-description .wrap-cloud:last-child {
        padding-top: 30px; }
  @media (max-width: 992px) {
    .standart-picture .container {
      flex-direction: column; }
      .standart-picture .container .wrap-description {
        max-width: 100%; }
        .standart-picture .container .wrap-description .wrap-cloud {
          flex-direction: column;
          align-items: center; }
          .standart-picture .container .wrap-description .wrap-cloud .wrap-cloud-desc {
            max-width: 100%; } }

.awesome .container {
  text-align: center; }
  .awesome .container h2 {
    font: 26px "Raleway", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin: 25px 0; }
  .awesome .container .dash {
    font: 14px/1.4 'Raleway', sans-serif;
    color: #86878b;
    padding: 40px 0;
    position: relative; }
    .awesome .container .dash:before {
      content: " ";
      width: 74px;
      border: 1px solid #ff834b;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -37px; }
  .awesome .container .wrap-item {
    display: flex;
    justify-content: space-between;
    max-width: 100%; }
    .awesome .container .wrap-item .item {
      max-width: calc(100%/3);
      padding: 5px 10px;
      transition: .4s;
      cursor: pointer; }
      .awesome .container .wrap-item .item i {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ff834b;
        color: #ff834b;
        margin: auto;
        border-radius: 50px; }
      .awesome .container .wrap-item .item h2 {
        font: 14px/1.4 "Open Sans", sans-serif;
        font-weight: bold;
        text-transform: none; }
      .awesome .container .wrap-item .item:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 10px #000; }
  @media (max-width: 768px) {
    .awesome .container .wrap-item {
      flex-direction: column; }
      .awesome .container .wrap-item .item {
        max-width: 100%; } }

.prising {
  background: #f5f5f5; }
  .prising .container {
    text-align: center; }
    .prising .container h2 {
      font: 26px "Raleway", sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      margin: 25px 0; }
    .prising .container .dash {
      font: 14px/1.4 'Raleway', sans-serif;
      color: #86878b;
      padding: 40px 0;
      position: relative; }
      .prising .container .dash:before {
        content: " ";
        width: 74px;
        border: 1px solid #ff834b;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -37px; }
    .prising .container .wrap-item {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      align-items: center; }
      .prising .container .wrap-item .item {
        width: calc(100% / 3);
        padding: 5px 10px;
        transition: .4s;
        cursor: pointer;
        display: block;
        color: #fff; }
        .prising .container .wrap-item .item h2 {
          margin: 0;
          padding: 20px 0;
          color: #fff;
          font: 20px "Open Sans", sans-serif;
          font-weight: bold;
          text-transform: none;
          border-bottom: 1px solid #fff;
          background: #363636; }
        .prising .container .wrap-item .item .int {
          padding: 30px 0;
          font: 94px 'Raleway', sans-serif;
          font-weight: bold;
          background: #363636; }
          .prising .container .wrap-item .item .int .baks {
            font-size: 40px; }
        .prising .container .wrap-item .item .int-desc {
          font: 14px/1.4 "Open Sans", sans-serif;
          font-style: italic;
          padding-bottom: 20px;
          background: #363636; }
        .prising .container .wrap-item .item .popular {
          font: 14px/1.4 "Open Sans", sans-serif;
          padding: 14px;
          background: #ff834b;
          text-transform: uppercase;
          font-weight: bold; }
        .prising .container .wrap-item .item .item-list {
          border-top: 4px solid #ff834b;
          background: #fff; }
          .prising .container .wrap-item .item .item-list li {
            display: block;
            padding: 14px;
            font: 14px/1.4 "Open Sans", sans-serif;
            text-transform: uppercase;
            color: #212121; }
        .prising .container .wrap-item .item:hover {
          transform: translateY(-5px);
          box-shadow: 0 0 10px #000; }
    @media (max-width: 768px) {
      .prising .container .wrap-item {
        flex-direction: column; }
        .prising .container .wrap-item .item {
          width: 97%; }
        .prising .container .wrap-item .item-list {
          border-bottom: 4px solid #ff834b; } }

.comments .container {
  text-align: center; }
  .comments .container h2 {
    font: 26px "Raleway", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin: 25px 0; }
  .comments .container .dash {
    font: 14px/1.4 'Raleway', sans-serif;
    color: #86878b;
    padding: 40px 0;
    position: relative; }
    .comments .container .dash:before {
      content: " ";
      width: 74px;
      border: 1px solid #ff834b;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -37px; }
  .comments .container .wrap-item {
    display: flex;
    justify-content: space-between;
    max-width: 100%; }
    .comments .container .wrap-item .item {
      max-width: calc(100%/3.5);
      padding: 5px 10px;
      transition: .4s;
      cursor: pointer;
      text-align: left; }
      .comments .container .wrap-item .item p {
        background: #f5f5f5;
        padding: 24px 10px; }
      .comments .container .wrap-item .item .wrap-user {
        display: flex;
        align-items: center;
        padding-top: 20px; }
        .comments .container .wrap-item .item .wrap-user img {
          border-radius: 60px; }
        .comments .container .wrap-item .item .wrap-user .wrap-user-desc {
          padding-left: 15px; }
          .comments .container .wrap-item .item .wrap-user .wrap-user-desc h2 {
            font: 20px "Open Sans", sans-serif;
            margin: 0;
            font-weight: bold; }
          .comments .container .wrap-item .item .wrap-user .wrap-user-desc p {
            margin: 0;
            padding: 8px 0;
            background: none; }
      .comments .container .wrap-item .item h2 {
        font: 14px/1.4 "Open Sans", sans-serif;
        font-weight: bold;
        text-transform: none; }
      .comments .container .wrap-item .item:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 10px #000; }
  @media (max-width: 768px) {
    .comments .container .wrap-item {
      flex-direction: column; }
      .comments .container .wrap-item .item {
        max-width: 100%; } }

.stylish {
  background: url("../images/stylish.png") no-repeat center/cover; }
  .stylish .container {
    text-align: center; }
    .stylish .container h2 {
      color: #fff;
      font: 26px "Raleway", sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      margin: 25px 0; }
    .stylish .container .dash {
      font: 14px/1.4 'Raleway', sans-serif;
      color: #86878b;
      padding: 40px 0;
      position: relative; }
      .stylish .container .dash:before {
        content: " ";
        width: 74px;
        border: 1px solid #ff834b;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -37px; }
    .stylish .container .btn {
      border: 1px solid #fff;
      transition: .4s; }
      .stylish .container .btn:hover {
        background: #ff834b;
        border: 1px solid #ff834b; }

.contact-us .container {
  text-align: center; }
  .contact-us .container h2 {
    font: 26px "Raleway", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin: 25px 0; }
  .contact-us .container .dash {
    font: 14px/1.4 'Raleway', sans-serif;
    color: #86878b;
    padding: 40px 0;
    position: relative; }
    .contact-us .container .dash:before {
      content: " ";
      width: 74px;
      border: 1px solid #ff834b;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -37px; }
  .contact-us .container .form-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px; }
    .contact-us .container .form-bottom .form-input {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-right: 30px; }
      .contact-us .container .form-bottom .form-input input {
        margin-top: 30px;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #86878b; }
      .contact-us .container .form-bottom .form-input input:focus {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #00e0d0;
        outline: none; }
    .contact-us .container .form-bottom .form-texarea {
      width: 50%;
      padding-left: 30px;
      margin-top: 30px; }
      .contact-us .container .form-bottom .form-texarea textarea {
        width: 94%;
        height: 94%;
        resize: none;
        padding: 10px 10px 0 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #86878b; }
      .contact-us .container .form-bottom .form-texarea textarea:focus {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #00e0d0;
        outline: none; }
  @media (max-width: 768px) {
    .contact-us .container .form-bottom {
      flex-direction: column;
      align-items: center; }
      .contact-us .container .form-bottom .form-texarea, .contact-us .container .form-bottom .form-input {
        padding: 0;
        width: 70%; }
        .contact-us .container .form-bottom .form-texarea textarea, .contact-us .container .form-bottom .form-input textarea {
          min-height: 150px; } }
  .contact-us .container .btn {
    border: none;
    color: #fff;
    background: #ff834b;
    transition: .2s;
    cursor: pointer;
    border-radius: 5px; }
    .contact-us .container .btn:hover {
      background: #5ACF42; }

.footer {
  background: #000; }
  .footer .container {
    padding: 20px 0;
    text-align: center; }
    .footer .container .warp-social-icon ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .footer .container .warp-social-icon ul li {
        padding: 0 10px; }
        .footer .container .warp-social-icon ul li a {
          display: inline-block; }
          .footer .container .warp-social-icon ul li a .fa {
            color: #cbcbcb;
            transition: .4s; }
            .footer .container .warp-social-icon ul li a .fa:hover {
              color: #ff834b; }
    .footer .container .copy {
      font: 14px/1.4 "Open Sans", sans-serif;
      font-size: 12px;
      color: #fff;
      padding-top: 15px; }

#toTop {
  text-align: center;
  position: fixed;
  bottom: 10px;
  /* отступ кнопки от нижнего края страницы*/
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 9; }
  #toTop i {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #ff834b;
    color: #ff834b;
    transition: .4s;
    box-shadow: 0 0 10px 0; }
    #toTop i:hover {
      background: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=all.css.map */
