/* fonts */
/* colors */
/* Respons */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none; }

h1 {
  font: 36px 'Raleway', sans-serif; }

h2 {
  font: 20px "Open Sans", sans-serif;
  color: #212121;
  font-weight: bold; }

p {
  font: 14px/1.4 "Open Sans", sans-serif;
  color: #86878b; }

.container {
  max-width: 1110px;
  box-sizing: border-box;
  margin: auto;
  padding: 105px 15px;
  position: relative; }

.btn {
  display: inline-block;
  padding: 15px 32px;
  font: 15px 'Open Sans', sans-serif;
  color: #fff; }

.main-header .header-top {
  background: #000;
  position: relative; }
  .main-header .header-top .container {
    display: flex;
    justify-content: space-between;
    padding: 21px 15px; }
    .main-header .header-top .container .logo {
      transition: .4s; }
      .main-header .header-top .container .logo:hover {
        box-shadow: 0 0 25px 0 #ff834b; }
    .main-header .header-top .container .wrap-menu {
      display: flex;
      align-items: center; }
      .main-header .header-top .container .wrap-menu .menu-header li {
        padding-left: 45px; }
        .main-header .header-top .container .wrap-menu .menu-header li a {
          display: inline-block;
          font: 14px/1.4 "Open Sans", sans-serif;
          color: #fff;
          transition: .4s;
          width: 100%; }
          .main-header .header-top .container .wrap-menu .menu-header li a:hover {
            color: #ff834b; }
        .main-header .header-top .container .wrap-menu .menu-header li .active {
          color: #ff834b; }
    .main-header .header-top .container .gamburger {
      display: none;
      color: #fff;
      cursor: pointer;
      transition: .4s; }
      .main-header .header-top .container .gamburger:hover {
        color: #ff834b; }
    @media (max-width: 768px) {
      .main-header .header-top .container .wrap-menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 2;
        border-bottom: 1px solid white;
        border-top: 1px solid white; }
        .main-header .header-top .container .wrap-menu .menu-header li {
          display: block;
          text-align: center;
          padding-left: 0; }
          .main-header .header-top .container .wrap-menu .menu-header li a {
            padding: 5px 0; }
          .main-header .header-top .container .wrap-menu .menu-header li:hover {
            background: rgba(255, 255, 255, 0.5); }
      .main-header .header-top .container .gamburger {
        display: block; } }

.banner {
  position: relative;
  background: url("../images/image.png") no-repeat fixed center/cover;
  min-height: 90vh;
  display: flex;
  align-items: center; }
  .banner .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 90px 15px; }
    .banner .container .wrap-product {
      max-width: 50%; }
      .banner .container .wrap-product h1 {
        color: #fff;
        text-transform: uppercase; }
      .banner .container .wrap-product p {
        font: 16px/1.4 'Raleway', sans-serif;
        color: #fff;
        padding: 40px 0;
        position: relative; }
        .banner .container .wrap-product p:before {
          content: " ";
          width: 74px;
          border: 1px solid #fff;
          display: inline-block;
          position: absolute;
          top: 0; }
      .banner .container .wrap-product .btn {
        display: inline-block;
        border: 1px solid #fff;
        transition: .4s;
        margin: 5px; }
        .banner .container .wrap-product .btn.try {
          border: 1px solid #5ACF42;
          display: none;
          background: #5ACF42;
          font-weight: bold; }
          .banner .container .wrap-product .btn.try span {
            color: #ff834b; }
        .banner .container .wrap-product .btn:hover {
          background: #ff834b;
          border: 1px solid #ff834b; }
          .banner .container .wrap-product .btn:hover span {
            color: #5ACF42; }
    .banner .container .wrap-form-header {
      max-width: 50%;
      display: flex;
      position: relative; }
      .banner .container .wrap-form-header .form-header {
        border-radius: 5px;
        text-align: center;
        max-width: 360px;
        margin: auto;
        background: #fff; }
        .banner .container .wrap-form-header .form-header h2 {
          margin: 0;
          padding: 15px 0;
          background: #f5f5f5;
          color: #212121;
          font: 20px "Open Sans", sans-serif;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-weight: bold; }
          .banner .container .wrap-form-header .form-header h2 span {
            color: #ff834b; }
        .banner .container .wrap-form-header .form-header input {
          width: 80%;
          border-top: none;
          border-left: none;
          border-right: none;
          padding: 10px;
          margin-top: 40px; }
        .banner .container .wrap-form-header .form-header button {
          margin-top: 40px;
          cursor: pointer;
          padding: 20px 0;
          width: 100%;
          border: none;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          background: #ff834b;
          color: #fff;
          transition: 0.4s; }
          .banner .container .wrap-form-header .form-header button:hover {
            background: #5ACF42; }
    @media (max-width: 992px) {
      .banner .container .wrap-product {
        max-width: 100%; }
        .banner .container .wrap-product .btn.try {
          display: inline-block; }
      .banner .container .wrap-form-header {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        max-width: 100%; } }
    @media (max-width: 768px) {
      .banner .container .wrap-product {
        text-align: center; }
      .banner .container p:before {
        right: 43%; } }
    @media (max-width: 520px) {
      .banner .container .wrap-product h1 {
        font-size: 20px; } }

.social .container {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between; }
  .social .container .warp-social-content {
    max-width: 36%; }
  .social .container .warp-social-icon {
    max-width: 63%;
    display: flex;
    align-items: center; }
    .social .container .warp-social-icon ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .social .container .warp-social-icon ul li {
        padding: 0 20px; }
        .social .container .warp-social-icon ul li a {
          display: inline-block; }
          .social .container .warp-social-icon ul li a .fa {
            color: #cbcbcb; }
            .social .container .warp-social-icon ul li a .fa:hover {
              color: #ff834b; }
@media (max-width: 768px) {
  .social .container {
    flex-direction: column;
    text-align: center; }
    .social .container .warp-social-content {
      max-width: 100%; }
    .social .container .warp-social-icon {
      max-width: 100%; }
      .social .container .warp-social-icon ul {
        margin: auto; } }

.tab-img {
  background: #f5f5f5; }
  .tab-img .container {
    display: flex;
    justify-content: space-between; }
    .tab-img .container .wrap-tab {
      max-width: 500px; }
      .tab-img .container .wrap-tab .tabs-list .tab {
        display: inline-block;
        padding: 50px 35px;
        font: 14px/1.4 "Open Sans", sans-serif;
        color: #fff;
        background: #363636;
        border-radius: 5px;
        font-weight: bold;
        transition: .4s; }
        .tab-img .container .wrap-tab .tabs-list .tab:hover {
          background: #ff834b; }
        @media (max-width: 380px) {
          .tab-img .container .wrap-tab .tabs-list .tab {
            padding: 20px 25px; } }
      .tab-img .container .wrap-tab .tabs-content-list .tab-content {
        display: none; }
        .tab-img .container .wrap-tab .tabs-content-list .tab-content .btn {
          background: #ff834b;
          border-radius: 5px;
          margin-top: 50px;
          transition: .4s; }
          .tab-img .container .wrap-tab .tabs-content-list .tab-content .btn:hover {
            background: #5ACF42; }
      .tab-img .container .wrap-tab .tabs-content-list .tab-content.active {
        display: block; }
      .tab-img .container .wrap-tab .tab.active {
        background: #ff834b; }
    .tab-img .container .wrap-img img {
      max-width: 100%; }
  @media (max-width: 768px) {
    .tab-img .container {
      flex-direction: column;
      align-items: center; }
      .tab-img .container .wrap-img img {
        padding-top: 20px; } }

/*# sourceMappingURL=all.css.map */
