.site-footer {
  padding: .48rem 1.87rem;
  background-color: #222;
  display: flex;
  justify-content: space-between;

  .widget {
    .widget-title {
      h4 {
        color: $white;
        font-family: "Museo Sans Cyrl", sans-serif;
        font-size: .21rem;
        margin-bottom: .25rem;
      }
    }

    .menu {
      .menu_item {
        margin-bottom: .25rem;

        a {
          font-family: "Museo Sans Cyrl 700", sans-serif;
          font-size: .16rem;
          color: $white;
          transition: .2s;

          &:hover {
            color: $sushi;
          }
        }

        ul {
          li {
            a {
              color: #7e7c7c;
              font-family: "Museo Sans Cyrl", sans-serif;
              line-height: .25rem;
            }
          }
        }

        .fSitemapLink {
          color: #7e7c7c;
        }
      }
    }

    img {
      width: 100%;
    }

    .contacts-list {
      li {
        padding-left: .3rem;
        position: relative;
        margin-bottom: .3rem;

        a {
          font-size: .16rem;
          font-family: 'Museo Sans Cyrl',sans-serif;
          color: #ccc;
          transition: .2s;

          &:hover {
            color: $sushi;
          }
        }
      }
      i {
        position: absolute;
        left: 0;
        top: .03rem;
        color: #999;
      }

      .viber {
        position: relative;
        top: .06rem;
        margin-left: .05rem;

        &:after {
          content: "";
          display: inline-block;
          width: .25rem;
          height: .25rem;
          background: url('../images/viber.svg') center no-repeat;
          background-size: contain;
        }
      }
      .telegram {
        position: relative;
        top: .06rem;
        margin-left: .05rem;

        &:after {
          content: "";
          display: inline-block;
          width: .25rem;
          height: .25rem;
          background: url('../images/telegram.svg') center no-repeat;
          background-size: contain;
        }
      }
      .whatsapp {
        position: relative;
        top: .06rem;
        margin-left: .05rem;

        &:after {
          content: "";
          display: inline-block;
          width: .25rem;
          height: .25rem;
          background: url('../images/WhatsApp.svg') center no-repeat;
          background-size: contain;
        }
      }
    }

    .module-social {
      vertical-align: top;
      display: inline-block;
      position: relative;
      font-size: .11rem;
      line-height: .35rem;
      margin: 0;
      padding: 0;
      border: none;
      z-index: 1;

      a {
        display: inline-block;
        font-size: .2rem;
        text-align: center;
        vertical-align: top;
        line-height: .36rem;
        width: .36rem;
        margin: 0;
        transition: .2s;
        color: #ccc;

        &:hover {
          background: $sushi;
          color: $white;
        }
      }
    }
  }

  form {
    width: 3.3rem;
    font-size: .13rem;

    label {
      display: block;
      width: 100%;
      margin-bottom: .1rem;
      font-size: .13rem;
      color: #999;
      font-family: 'Museo Sans Cyrl',sans-serif;

      a {
        color: #ccc;
        font-size: .13rem;
        font-family: 'Museo Sans Cyrl',sans-serif;
      }
    }

    input {
      padding-left: .1rem;
      padding-right: .1rem;
      height: .35rem;
      outline: none;
      width: 100%;
      margin-top: .1rem;
      border: none;
      color: #999;
      font-family: 'Museo Sans Cyrl 500',sans-serif;
      font-style: normal;
    }

    input[name="agreement"] {
      position: relative;
      display: inline-block !important;
      margin: 0 5px 0 0 !important;
      width: .16rem !important;
      height: .16rem !important;
    }
  }

  .button {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    color: $white;
    font-size: .16rem;
    line-height: .4rem;
    margin-top: .3rem;
    border: 2px solid $sushi;
    background: $sushi;
    font-family: 'Museo Sans Cyrl 700', sans-serif;
    transition: .3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

    &:hover {
      border: 2px solid $sushi;
      background: transparent;
    }
  }
}
