.how-to-understand {
  background: url("../images/Rectangle-41.png") no-repeat center/cover;
  height: 12.28rem;
  padding: .8rem 3.2rem 1.3rem;
  position: relative;

  .wrap-form {
    position: absolute;
    top: 4.3rem;
    right: 3.2rem;

    .form-main {
      background-color: $white;
      width: 6.64rem;
      display: flex;
      flex-direction: column;
      padding: .7rem .48rem;

      h2 {
        font-family: 'Museo Sans Cyrl', sans-serif;
        font-size: .35rem;
        line-height: .3rem;
        text-transform: uppercase;
        color: $black;
        text-align: center;

        @media screen and(max-width: $mobile) {
          font-size: .25rem;
          line-height: .2rem;
        }
      }

      .font-middle {
        margin-top: .09rem;
        margin-bottom: .65rem;

        @media screen and(max-width: $mobile) {
          margin-bottom: 0;
          text-align: center;
        }
      }

      input {
        border-top: none;
        border-left: none;
        border-right: none;
        padding: .1rem;
        margin-top: .4rem;
        border-color: $black;

        @media screen and(max-width: $mobile) {
          margin-top: .2rem;
        }
      }

      .font-under-middle {
        font-style: normal;
        color: $black;
      }

      .btn {
        margin-top: .5rem;
      }

      @media screen and(max-width: $mobile) {
        width: 100%;
        padding: .3rem .2rem;
      }
    }

    @media screen and(max-width: $mobile) {
      position: static;
      margin-top: .3rem;
    }
  }

  @media screen and(max-width: $mobile) {
    padding: .15rem .15rem .8rem;
    height: 7.28rem;
  }
}
