.our-customers {

  .main-subtitle-section {
    text-align: center;
    margin-bottom: .5rem;
  }
  .clients-logo {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 25%;
      height: 2.5rem;
      border: 1px solid #e1e1e1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      filter: grayscale(1);
      padding: 1rem;

      img {
        opacity: 0.7;
        transition: .4s;
        max-width: 100%;
      }

      &:hover {
        filter: grayscale(0);

        img {
          opacity: 1;
        }
      }

      @media screen and(max-width: $mobile) {
        width: 50%;
        height: 1.5rem;
        padding: .2rem;
      }
    }
  }
}
