.plans-strategy {

  .main-subtitle-section {
    text-align: center;
    margin-bottom: .6rem;
  }

  .wrap-main-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
    padding: 1rem 3.15rem;
    background: linear-gradient(180deg,transparent 0%,rgba(0,0,0,.2) 100%) , linear-gradient(0deg,rgba(0,0,0,.4),rgba(0,0,0,.4)) , url("../images/about-bg.jpg.pagespeed.ce.iRVZJC2Km8.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .main-block {
      display: flex;

      img {
        margin-right: .15rem;
        width: 1.39rem;
        height: 1.39rem;
      }

      .advertising-list {
        .font-middle {
          text-align: left;
          margin-bottom: .05rem;
          width: unset;
          padding-left: .1rem;
          position: relative;
          color: $white;

          &:before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $white;
            position: absolute;
            left: 0;
            top: 50%;
          }

          &__bold {
            margin-bottom: .12rem;
            text-align: left;
            width: unset;
            color: $white;
          }
        }
      }
    }
  }
}
