/* Fonts */
$font-main: 'Open Sans', sans-serif;

/* Colors */
$color-menu: #533814;
$color-desc: #000;
$color-place: #9b9b9b;

/* Responsive */

$media-lg: 1030px;
$media-md: 970px;
$media-sm: 750px;