@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geomertria/Geometria.eot');
  src: url('../fonts/Geomertria/Geometria.eot') format('embedded-opentype'),
  url('../fonts/Geomertria/Geometria.woff2') format('woff2'),
  url('../fonts/Geomertria/Geometria.woff') format('woff'),
  url('../fonts/Geomertria/Geometria.ttf') format('truetype'),
  url('../fonts/Geomertria/Geometria.svg#BebasNeueRegular') format('svg');
}