.thoughts {
  padding: 145px 0 54px;

  .container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrap-thoughts-logo {
      max-width: 400px;

      .logo-colored {
        img {
          max-width: 100%;
        }
      }

      .desc-section {
        margin-top: 18px;
        font: 32px $secondary-font;
        color: $black-color;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .thoughts-desc {
      margin-top: 20px;
      max-width: 768px;

      .desc {
        font: 22px $secondary-font;
        color: $black-color;
      }

      .desc:first-child {
        margin-top: 0;
      }

      .block-title {
        margin: 100px 0;
      }
    }

    @media (min-width: 1230px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      .thoughts-desc {
        margin-top: 0;
      }
    }
  }
}