// colors

$color-dark-orange: #cc5e2e;
$color-dark-blue: #294048;
$color-white: #fff;
$color-mine-shaft: #2d2d2d;
$color-black: #000;
$color-flamingoo: #f46734;
$color-cerulean: #0baec9;

// fonts

$font-droid-sans: "Droid Sans"